:scss
  footer {
    .gl-footer-bottom-wrapper {
      color: #5b5b5b;
    }
    .mail-container {
      display: initial;
      a {
        text-decoration: underline;
      }
    }
    .gl-social-info-wrapper {
      padding: 0;
    }
    .have-question {
      //width: 65%;
      padding: 0;
      margin-left: 100px;
    }
    .gl-copyright-info-wrapper {
      display: inline;
    }
  }

  @media only screen and (min-width: 992px) {
    footer {
      .gl-social-info-wrapper {
        width: 14%;
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    footer {
      .gl-social-info-wrapper {
        width: 100%;
        text-align: center!important;
        margin-top: 20px;
      }
      .gl-copyright-info-wrapper {
        width: 100%;
        text-align: center!important;
      }
      .copyright,
      .have-question {
        text-align: center;
      }
      .have-question {
        margin: 0;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    footer .gl-social-info-wrapper {
      width: 100%;
    }
    .copyright,
    .have-question {
      text-align: center;
    }
    .have-question {
      margin: 0!important;
    }
  }

%footer
  .gl-footer-bottom-wrapper
    .container-fluid
      .row
        -#.gl-copyright-info-wrapper.col-xs-12.col-sm-9.col-sm-offset-3.col-md-11.col-md-offset-2
        -#  %p
        -#    %span.copyright Copyright © 2017 АВТОШКОЛАONLINE. All rights reserved.
        -#    %span.have-question
        -#      = t('bottom_footer.copyright')
        -#      %span.mail-container
        -#        = mail_to '1autoschoolonline@gmail.com'
        -#.gl-copyright-info-wrapper

        %span.copyright.col-xs-12.col-md-3.col-md-offset-1 Copyright © 2017 АВТОШКОЛАONLINE. All rights reserved.
        %span.have-question.col-xs-12.col-md-4.col-md-offset-1
          = t('bottom_footer.copyright')
          %span.mail-container
            = mail_to '1autoschoolonline@gmail.com'

        %span.gl-social-info-wrapper.col-xs-12.col-md-2
          %ul
            %li
              = link_to '#' do
                = icon('facebook')
            %li
              = link_to '#' do
                = icon('vk')
            %li
              = link_to '#' do
                = icon('google-plus')
            %li
              = link_to '#' do
                = icon('instagram')