:scss
  @media only screen and (min-width: 992px) and (max-width: 1200px){
    .gl-cta-content-wrapper p {
      width: 100%!important;
    }
  }
  .gl-cta-section .gl-cta-content-wrapper ul li a.gl-app-store-btn {
    background: url("#{image_url('app-store.png')}") no-repeat center center;
  }
  .gl-cta-section .gl-cta-content-wrapper ul li a.gl-google-play-btn {
    background: url("#{image_url('google-play.png')}") no-repeat center center;
  }
%section.gl-cta-section
  .container
    .row
      .gl-cta-content-wrapper
        %p
          = t('download')
        %ul
          %li
            = link_to '#', nil, class: 'gl-google-play-btn'
          %li
            = link_to '#', nil, class: 'gl-app-store-btn'